<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile • GamerSpace</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="card/card.css">
    <link rel="stylesheet" href="settings/settings.css">
    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/c48f0d09a5.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
    
    <div class="flex menu">
        <i id="search-bar" class="fa-solid fa-magnifying-glass" tabindex="0"></i>
        <input type="text" id="search-input" placeholder="Type a username...">
        <i class="fa-solid fa-id-card-clip" hx-get="card/card.html" onclick="document.getElementById('dialogElement').showModal();" hx-swap="innerHTML" hx-target="#dialogElement"></i>
        <i class="fa-solid fa-gear" hx-get="settings/settings.html" onclick="document.getElementById('dialogElement').showModal();" hx-swap="innerHTML" hx-target="#dialogElement"></i>
    </div>

    <dialog id="dialogElement">
        <div id="mini-loader"></div>
    </dialog>
</body>
</html>